*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #222222;
  background-color: #ffffff;
}

.chessboard-wrapper {
  max-width: 40vw;
}

.custom-light-square {
  background-color: #e8e8e8; /* Change the color as needed */
}

.custom-dark-square {
  background-color: #a0a0a0; /* Change the color as needed */
}