name: Deploy Prod

on:
  push:
    tags: 
      - '**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install dependencies
      run: npm install
    
    - name: Install Amplify CLI
      run: npm install -g @aws-amplify/cli
    
    - name: Deploy to AWS
      run: |
        amplify init --amplify "$(cat .github/workflows/prod-config/app.json)" --frontend "$(cat .github/workflows/prod-config/frontend.json)" --providers "$(cat .github/workflows/prod-config/provider.json)" --yes
        amplify publish
